## messageSource=classpath:/sparcore/messages/email-SparBlowhornFailedRequestOrder_$lang.properties
Order details:
<br>
<br>Order ID - ${ctx.order.code}<br>
<br>Store ID - ${ctx.order.OrderPointOfService.name}<br>
<br>Delivery Date and slot - ${ctx.order.deliveryDate} and ${ctx.order.deliverySlot}<br>
<br>Customer Name - ${ctx.customer.name}<br>
<br>Customer mobile - ${ctx.customer.custPrimaryMobNumber} <br>
<br>Order value - ${ctx.order.totalPrice} <br>
<br>Order Type - ${ctx.order.paymentStatus} <br>
